* {
  font-family: "Karla", sans-serif;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Header Style */

.header-div {
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  color: white;
  padding: 20px;
}

.header-div > img {
  height: 100%;
  margin: 0 10px 0 80px;
}

.header-div > h2 {
  font-weight: 800;
  font-size: 1.25rem;
  margin-right: auto;
}

.header-div > h4 {
  font-size: 1rem;
  font-weight: 800;
  margin-right: 80px;
}

/* Form Style */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-div {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  width: 70vw;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 50px;
  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
}

.form-container > label {
  margin-bottom: 10px;
  text-indent: 15px;
}

.input-div {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid grey;
}

.btn-div {
  margin-top: 50px;
  width: 70vw;
  padding: 20px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  border-radius: 10px;
  cursor: pointer;
  border: none;
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
}

.meme-img {
  max-width: 50vw;
  margin-top: 20px;
}
